<!DOCTYPE html>
<html lang="ja">
<%- include('components/head', { title: "" }) %>

<body>  
  <div class="all-wrap">
    <%- include('components/header') %>
    <main>
      
    </main>
    <%- include('components/footer') %>
    <%- include('components/script') %>
  </div>
</body>
</html>